/* .proficiency {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	flex: 400px;
}


}

.proficiency.box-skills {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	flex: 400px;
}
 */
*{
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	background-color: aliceblue;
	box-sizing: border-box;
}



.progress-bar-container {
	/* display: flex;
	align-items: center;
	justify-content: center;
	height: 30px; */

}

.progress-bar {
	position: relative;
	width: 200px;
	height: 10px;
	border-radius: 10px;
	overflow: hidden;
	background: #eee;
	border: 1px solid lawngreen;
}

.progress-bar::before {
	content: "";
	position: absolute;
	width: 90%;
	height: 100%;
	transform: scaleX(0);
	transform-origin: left center;
	background-image: linear-gradient(45deg, #0f0, #0ff);
	animation: 3s progress ease-out forwards;
}

@keyframes progress {

	to {
		transform: scaleX(1);
	}
}

.container {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	/* background-color: #2196F3; */
	padding: 10px;

}

.container>div {
	/* background-color: rgba(255, 255, 255, 0.8); */
	/* text-align: center; */
	padding: 20px 0;
	font-size: 30px;
	/* justify-content: space-between; */


}

.container .progress-bar-container h3 {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	color: var(--black);
	font-size: 20px;


}

.progress-bar1,
.progress-bar2,
.progress-bar3,
.progress-bar4,
.progress-bar5,
.progress-bar6,
.progress-bar7,
.progress-bar8 {

	position: relative;
	display: block;
	flex: 250px;
	height: 15px;
	border-radius: 10px;
	overflow: hidden;
	background: #eee;
	border: 1px solid lawngreen;
}

.progress-bar1::before,
.progress-bar2::before,
.progress-bar3::before,
.progress-bar4::before,
.progress-bar5::before,
.progress-bar6::before,
.progress-bar7::before,
.progress-bar8::before {
	content: "";
	position: absolute;

	height: 100%;
	transform: scaleX(0);
	transform-origin: left center;
	background-image: linear-gradient(45deg, #0f0, #0ff);
	animation: 3s progress ease-out forwards;
}

.progress-bar1::before {
	width: 95%;
}

.progress-bar2::before {
	width: 80%;
}

.progress-bar3::before {
	width: 65%;
}

.progress-bar4::before {
	width: 70%;
}

.progress-bar5::before {
	width: 90%;
}

.progress-bar6::before {
	width: 75%;
}

.progress-bar7::before {
	width: 65%;
}

.progress-bar8::before {
	width: 70%;
}

@keyframes progress {

	to {
		transform: scaleX(1);
	}
}